body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.nav-bar {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}

.superior-nav {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-nav {
    grid-area: 2 / 1 / 3/ 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inferior-nav {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

.inferior-nav::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 75%;
    background-color: grey;
    left: 50%;
    transform: translateX(-50%);
}

.Points {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: left;
    align-items: center;
    /* Add padding to create separation from the right edge */
}

.Shipping {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}






.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-bar ul li a {
    color: black;
    text-decoration: none;
}

.logo img {
    width: auto;
    height: 55px;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 25em;
    height: 40px;
    border: none;
    border-bottom: #000 2px solid;
    padding: 0 10px;
    background-color: #fff;
    margin-left: -45em;
    
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}


.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}


.categories {
    font-weight: bold;
    margin-left: 10px;
    color: #000;
    cursor: pointer;
}

.nav-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    line-height: 1.6;
}

.BuyButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: #333;
}

.back_game_info {
    background: #D6F0FA;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;


}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #0073e6;
}

.breadcrumb span {
    color: #777;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background: white;
}

.image-gallery {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
}

.image-gallery img {
    width: 100%;
    border-radius: 8px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnails img {
    width: 60px;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnails img:hover {
    border-color: #0073e6;
}

.game-info {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;

}

.platform {
    font-size: 14px;
    color: #777;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.gold-points {
    font-size: 14px;
    color: #777;
}

.download-btn {
    background: #e60012;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.download-btn:hover {
    background: #c40010;
}

.description {
    font-size: 14px;
    color: #555;
}

.rating {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
    display: flex;
    align-items: center;
    
}
.rating img {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

.game-description {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;


    margin-top: 30px;
    background: white;
}

.game-description .text {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 16px;
}

.game-description h2 {
    margin-bottom: 10px;
}

.read-more {
    color: #e60012;
    text-decoration: none;
    font-weight: bold;
}

.explore-btn {
    background: #e60012;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.explore-btn:hover {
    background: #c40010;
}
.game-image {
    grid-area: 1 / 2 / 2 / 3;
    
}
.game-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    border-radius: 8px;
}


.game-details {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 30px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}
.esrb-rating {
    grid-area: 1 / 1 / 2 / 2;
}
.play-modes {
    grid-area: 1 / 2 / 2 / 3;
}
.esrb-rating img {
    width: 60px;
    height: auto;
    margin-right: 5px;
}
.esrb-rating p {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.esrb-rating h3, .play-modes h3 {
    text-align: center;
    margin-bottom: 10px;
}

.play-modes .modes {
    display: flex;
    gap: 20px;
}

.mode {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.mode img {
    width: 180px;
    height: auto;
    border-radius: 5px;
}

.game-requeriments{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    background: #f8f8f8;
    padding: 20px;
   
}

.requeriments-container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
    padding: 20px;
    border-radius: 8px;
    background-color:white;
}

/* Estilos para ambas columnas */
.column-left,
.column-right {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

/* Estilos para cada elemento de la lista */
.item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Línea gris entre las filas */
}


.column-left .item {
    gap: 10px; }


.item-text {
    font-size: 16px;
    color: #333;
}


.item:last-child {
    border-bottom: none;
}
.imagen-fachera
{ max-width: 1200px;
    margin: auto;
}
.imagen-fachera img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    border-radius: 8px;
}